<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring boot - Kotlin Demo</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<h1 align="center"> Articles Management System </h1>

<a href="/api/articles" class="w3-btn w3-black">List all articles</a>
<a href="/search" class="w3-btn w3-black">Search Article by ID</a>
<a href="/addArticle" class="w3-btn w3-black">Add new Article</a>
<a href="/delete" class="w3-btn w3-black">Delete Article by ID</a>

</body>
</html>